input[type='text'], textarea {
    border-radius: 6px;
    border: 2px solid var(--text-color, #555);
    background-color: var(--input-bg-color);
    text-decoration: none;
}

input:focus {
    outline: none;
}

.theme-icon {
    background: var(--theme-icon-background-image) no-repeat center/100% 100%;
}
