.result-font {
    font-size: 24px;
}
.points-font {
    font-size: 86px;
    margin: 0;
}
.result-box {
    align-items: center;
}
#chart-container {
    position: absolute;
    bottom: -12px;
    left: -85px;

    height: 300px;
}
