.result-font {
    font-size: 24px;
}
.points-font {
    font-size: 72px;
    margin: 0;
}
.result-box {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100px;
}
.text-centered {
    text-align: center;
}
#chart-container {
    position: absolute;
    bottom: -12px;
    height: 350px;
    left: 50%;
    transform: translateX(-50%);
}
