.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.container-box {
    width: 700px;
    height: 50px;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
}

.draggable {
    max-width: 150px;
    height: 25px;
    cursor: pointer;
    margin: auto auto;

    /* center text align */
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.container > * {
    display: flex;
    align-items: center;
}

.draggable > p {
    margin: 3px 3px;
}

#target {
    height: 25px;
    border: 3px solid #4E83DD;
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
}

.answer-container-after-submit {
    position: absolute;
    bottom: -105px;
    width: 94%;
    height: 80px;
    border: 3px solid #7af47a;
    border-radius: 7px;
    padding: 10px;
}
.bottom-div-titlebox {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.green-border {
    border-color: #7af47a;
}
.red-border {
    border-color: #f47a7a;
}
.continue-button {
    position: absolute;
    margin: 10px;
    padding: unset;
    bottom: -5px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.hidden {
    display: none;
}
.green-underline {
    text-decoration-color: green;
    text-decoration-thickness: 3px;
}
.red-underline {
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}
.bottom-div-title-icon {
    margin-right: 5px;
}
.got-points-text {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #757575;
}
